header {
    padding: 10px 16px;
    color: #f1f1f1;
  }
.content{
    padding: 16px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .sticky + .content {
    padding-top: 102px;
  }